.left-side {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 25vw;
  min-width: 320px;
  max-width: 420px;
  height: 100vh;
  padding: calc(50px + 2vh) 12px;
  background: var(--bgDarker);
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-side-top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px;
}

.side-top-h3 {
  position: relative;
  margin: 0;
  font-size: 1rem;
  color: #e8e8e8;
  transition: all 0.3s ease-in-out;
}

.title-drop:hover {
  cursor: pointer;
  margin-left: 5px;
}

.title-drop::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -20px;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-left: transparent 9px solid;
  border-right: transparent 9px solid;
  border-bottom: transparent 9px solid;
  border-top: #666 9px solid;
  transform: scaleX(0.8);
  transition: all 0.3s ease-in-out;
  /* border-left: salmon 10px solid;
  border-right: olive 10px solid;
  border-bottom: teal 10px solid;
  border-top: palegoldenrod 10px solid; */
}

.title-drop:hover::after {
  border-top: #bbb 9px solid;
}

@media (max-width: 768px) {
  .left-side {
    position: relative;
    background: none;
    padding-top: 0;
    width: 100%;
    height: auto;
    min-width: none;
    max-width: 100%;
  }
}
