.new-task-cover {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--bgNewTaskCover);
  animation: coverFadeIn 0.5s ease;
  z-index: 3;
}

.form-tip {
  display: fixed;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bgNewTaskCover);
  padding: 10px 20px;
  color: var(--textColorTwo);
  border-radius: 4px;
  border: 1px solid var(--bgNewTask);
  animation: btnFadeIn 10s ease;
  animation-fill-mode: forwards;
}

.form-tip:hover {
  opacity: 1;
}

.new-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 100%;
  max-width: 670px;
  padding: 20px;
  background: var(--bgNewTask);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(-50%);
  box-sizing: border-box;
  z-index: 4;
  animation: taskIn 0.3s ease-in-out;
}

.new-task-form {
  width: 100%;
}

.no-tasks-bigger {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.form-h3 {
  color: var(--textColorTwo);
  font-weight: 500;
  font-size: 1rem;
  margin: 32px 0 -2px;
  opacity: 0.8;
}

.task-input,
.new-cat {
  width: 100%;
  height: 50px;
  margin: 10px auto 0px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: var(--textColorTwo);
  background: var(--bgNewTaskInput);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07) inset;
  outline: none;
  resize: none;
  caret-color: var(--colorRed);
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease;
}

.textarea {
  height: 120px;
  margin-bottom: -16px;
}

.task-input:focus {
  color: var(--textColor);
  background: var(--bgNewTaskInputFocus);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
}

.show-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  color: var(--textColorTwo);
  padding: 16px 8px;
  border-radius: 4px;
  background: var(--bgNewTaskInput);
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.7;
}

.show-options:hover {
  opacity: 1;
  background: var(--bgNewTaskInputFocus);
  /* height: 275px; */
}

.form-category {
  display: flex;
}

.new-cat {
  width: 150px;
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Montserrat", "Open Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
  opacity: 0.7;
}

.new-cat:hover {
  opacity: 1;
}

.form-radio-btns {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 0;
}

input[type="radio"] {
  visibility: visible;
  width: 100%;
  height: 90%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.form-radio {
  color: white;
  display: block;
  position: relative;
  width: calc(100% / 6 - 4px);
  height: 40px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form-label {
  display: block;
  position: absolute;
  border-radius: 4px;
  border: solid 1px #00000000;
  box-shadow: 0 0 2px #88888800 inset;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.4s ease;
  z-index: -1;
}

input[type="radio"]:checked ~ .form-label {
  transition: all 0.2s ease;
  border: solid 1px #22222277;
  box-shadow: 0 0 6px #00000033 inset;
  opacity: 1;
}

input[type="radio"]:hover ~ .form-label {
  opacity: 1;
}

input[type="radio"]:checked ~ .form-label::after {
  content: attr(data-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  color: #ffffffcc;
  text-shadow: 0 1px 1px #22222266;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 3;
}

.form-radio:hover::after {
  opacity: 1;
}

.task-input::placeholder {
  color: var(--textColor);
  opacity: 0.3;
}

.add-task-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.task-btns-right {
  display: flex;
}

@keyframes taskIn {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes coverFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .new-task {
    top: 45px;
    height: 100%;
  }

  .add-task-btns {
    margin-left: -5px;
    margin-top: 30px;
  }

  .task-input,
  .new-cat {
    margin-top: 7px;
  }

  .new-cat {
    width: fit-content;
  }

  .form-h3 {
    margin-top: 10px;
  }
}
