.btn-small,
.btn-grey {
  background: var(--bgGreyButton);
  height: 18px;
  padding: 4px 12px 2px;
  margin-left: 4px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.btn-small:hover,
.btn-grey:hover {
  opacity: 1;
  padding: 4px 32px 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-red {
  background: var(--colorRedDark);
}

.btn-red:hover {
  background: var(--colorRed);
}

.btn-a {
  background: var(--catA);
}

.btn-b {
  background: var(--catB);
}

.btn-c {
  background: var(--catC);
}

.btn-d {
  background: var(--catD);
}

.btn-grey {
  background: var(--bgGreyButton);
}

.btn-grey:hover {
  background: var(--colorGrey);
}

.btn-small:active,
.btn-grey:active,
.btn-red:active {
  background: rgb(165, 165, 165);
  transform: scale(0.9);
  transition: all 0.2s ease;
}
