.btn-small,
.grey-btn {
  background: var(--bgDarkest);
  height: 18px;
  padding: 3px 16px 1px;
  margin-left: 4px;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.btn-small:hover,
.grey-btn:hover {
  opacity: 1;
  padding: 3px 32px 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-red {
  background: var(--colorRed);
}

.btn-grey:hover {
  background: var(--colorGrey);
}
