html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: var(--bgGrey);
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.main-task-empty {
  display: block;
  transform: translateY(-100%);
  text-align: center;
  background: var(--bgMainTaskEmpty);
  padding: 18px 42px;
  border-radius: 4px;
}

.empty-h1,
.main-task-h1 {
  display: block;
  margin: 20px auto -20px;
  margin-bottom: -20px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--darkText);
  letter-spacing: -1.2px;
  text-shadow: 0px 1px 0px rgba(200, 200, 200, 0.5);
}

.empty-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkText);
  text-shadow: 0px 1px 0px rgba(200, 200, 200, 0.5);
}

@media (max-width: 1540px) {
  .empty-h1 {
    font-size: 2.1rem;
  }

  .empty-h3 {
    font-size: 1.4rem;
  }
}

/***********************************************/
/************** RANDOM BACKGROUNDS *************/
/***********************************************/

.dark-bg1 {
  background: url(img/bg_dark1.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg2 {
  background: url(img/bg_dark2.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg3 {
  background: url(img/bg_dark3.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg4 {
  background: url(img/bg_dark4.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg5 {
  background: url(img/bg_dark5.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg6 {
  background: url(img/bg_dark6.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg7 {
  background: url(img/bg_dark7.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.dark-bg8 {
  background: url(img/bg_dark8.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}

/**************** LIGHT BACKGROUNDS ***************/

.light-bg1 {
  background: url(img/bg_light1.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg2 {
  background: url(img/bg_light2.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg3 {
  background: url(img/bg_light3.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg4 {
  background: url(img/bg_light4.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg5 {
  background: url(img/bg_light5.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg6 {
  background: url(img/bg_light6.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg7 {
  background: url(img/bg_light7.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}
.light-bg8 {
  background: url(img/bg_light8.jpg) no-repeat center center fixed;
  background-color: var(--bgGrey);
  background-size: cover;
}

/*************************************************/
/***************** MEDIA QUERIES *****************/
/*************************************************/

@media (max-width: 1080px) {
  .empty-h1 {
    font-size: 1.8rem;
  }

  .empty-h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow: initial;
  }

  .wrapper {
    width: 100vw;
    height: auto;
    overflow: visible;
  }

  .undo-btn {
    position: relative;
    transform: translateX(8%);
  }

  .main-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: none;
    min-height: 40vh;
    padding: 0;
    margin: 30% 0 0;
    transform: none;
  }

  .empty-h1 {
    font-size: 1.5rem;
  }

  .empty-h3 {
    font-size: 1.1rem;
  }
}
