@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 1rem;

  --colorRed: #a5072f;
  --colorRedDarkOpaque: #6e0025ee;
  --colorRedDark: #6e001bbb;

  --cat0: #667;
  --cat0transp: #66667799;
  --catA: rgb(0, 110, 124);
  --catAtransp: rgba(0, 110, 124, 0.6);
  --catB: rgb(101, 126, 35);
  --catBtransp: rgba(101, 126, 35, 0.6);
  --catC: rgb(216, 93, 56);
  --catCtransp: rgba(216, 93, 56, 0.6);
  --catD: rgb(151, 146, 93);
  --catDtransp: rgba(151, 146, 93, 0.6);
  --catE: rgb(77, 45, 102);
  --catEtransp: rgba(77, 45, 102, 0.6);
}

// This chunk of code is not used anymore.
// Random backgrounds handled by the dark/light button in the Topbar component
$imgKey: random(8);
$darkList: dark1, dark2, dark3, dark4, dark5, dark6, dark7, dark8;
$lightList: light1, light2, light3, light4, light5, light6, light7, light8;
$darkNth: nth($darkList, $imgKey);
$lightNth: nth($lightList, $imgKey);

:root .dark {
  --mainColor: #1f222bc4;
  --textColor: #ffffffee;
  --textColorTwo: #ffffffaa;
  --darkText: #1f222bc4;
  --bgTopbar: #e8e8e9ee;
  --hamburgerColor: #b1afbb;
  --hamburgerColorDark: #64626b;
  --colorMidLight: #8d8d8dee;
  --colorGrey: #242730d5;
  --bgGrey: #686977;
  --bgSides: #20253144;
  --bgTask: rgba(46, 47, 59, 0.533);
  --bgTaskEdit: #30323bea;
  --bgTaskDone: #262835ea;
  --bgGreyButton: #62627099;
  --bgNewTask: #616375cc;
  --bgNewTaskCover: #22232cbb;
  --bgTextarea: #20233177;
  --bgImage: url(img/bg_#{$darkNth}.jpg) no-repeat center center fixed;
  --bgMainTask: #22242c88;
  --bgMainTaskBtns: #30323bea;
}

:root .light {
  --colorRed: #00789c;
  --colorRedDarkOpaque: #006b9699;
  --colorRedDark: #0b6c92bb;

  --mainColor: #6a6f7cc4;
  --textColor: #1c1d1fd5;
  --textColorTwo: #1e2027aa;
  --darkText: #30343fd5;
  --bgTopbar: #ececf1ee;
  --hamburgerColor: #b1afbb;
  --hamburgerColorDark: #64626b;
  --colorMidLight: #8d8d8dee;
  --colorGrey: #242833d5;
  --bgGrey: #d9d9ddc4;
  --bgSides: #cbcdd8aa;
  --bgTask: #ebedf3bb;
  --bgTaskEdit: #cddde6dd;
  --bgTaskDone: #ececf1ee;
  --bgGreyButton: #8f8f9edd;
  --bgNewTask: #dfdfe7cc;
  --bgNewTaskCover: #caccd6aa;
  --bgTextarea: #eaecf1dd;
  --bgImage: url(img/bg_#{$lightNth}.jpg) no-repeat center center fixed;
  --bgMainTask: #e2e2ecdd;
  --bgMainTaskBtns: #30323bea;
}

ul {
  list-style: none;
  margin: none;
  padding: none;
}

a,
a:hover {
  color: var(--textDark);
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: var(--bgGreyButton);
  box-sizing: border-box;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, Helvetica,
    sans-serif;
  padding: 1px 6px;
  border: none;
  outline: none;
}
