@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 1rem;

  --colorRed: #a5072f;
  --colorRedDarkOpaque: #6e0025ee;
  --colorRedDark: #6e001bbb;

  --cat0: #830726cc;
  --cat0transp: #383844;
  --catA: rgb(0, 110, 124);
  --catAtransp: linear-gradient(
    176deg,
    rgba(0, 146, 165, 0.8) 0%,
    rgba(0, 110, 124, 0.5) 100%
  );
  --catB: rgb(97, 122, 27);
  --catBtransp: linear-gradient(
    176deg,
    rgba(138, 158, 22, 0.8) 0%,
    rgba(82, 107, 14, 0.7) 100%
  );
  --catC: rgb(231, 85, 59);
  --catCtransp: linear-gradient(
    176deg,
    rgba(231, 85, 59, 0.85) 0%,
    rgba(173, 40, 0, 0.7) 100%
  );
  --catD: rgb(179, 172, 100);
  --catDtransp: linear-gradient(
    176deg,
    rgba(218, 209, 117, 0.85) 0%,
    rgba(126, 121, 66, 0.7) 100%
  );
  --catE: rgb(100, 67, 126);
  --catEtransp: linear-gradient(
    176deg,
    rgba(163, 58, 204, 0.7) 0%,
    rgba(59, 26, 87, 0.6) 100%
  );
}

// This chunk of code is not used anymore.
// Random backgrounds handled by the dark/light button in the Topbar component
$imgKey: random(8);
$darkList: dark1, dark2, dark3, dark4, dark5, dark6, dark7, dark8;
$lightList: light1, light2, light3, light4, light5, light6, light7, light8;
$darkNth: nth($darkList, $imgKey);
$lightNth: nth($lightList, $imgKey);

:root .dark {
  --mainColor: #1f222bc4;
  --textColor: #ffffffee;
  --textColorTwo: #ffffffaa;
  --darkText: #1f222bc4;
  --bgTopbar: #e8e8e9ee;
  --hamburgerColor: #b1afbb;
  --hamburgerColorDark: #64626b;
  --colorMidLight: #8d8d8dee;
  --colorGrey: #242730d5;
  --bgGrey: #686977;
  --bgSides: #20253144;
  --bgTask: rgba(46, 47, 59, 0.533);
  --bgTaskEdit: #30323bea;
  --bgTaskDone: #262835ea;
  --bgGreyButton: #7d7d9299;
  --bgNewTask: #616375dd;
  --bgNewTaskInput: #393b4988;
  --bgNewTaskCover: #22232cbb;
  --bgNewTaskInputFocus: #20233177;
  --bgImage: url(img/bg_#{$darkNth}.jpg) no-repeat center center fixed;
  --bgMainTask: linear-gradient(
    176deg,
    rgba(190, 0, 41, 0.8) 0%,
    rgba(151, 4, 36, 0.8) 40%,
    rgba(110, 3, 30, 0.8) 100%
  );
  --bgMainTaskInactive: #22242c88;
  --bgMainTaskBtns: #30323bea;
  --mainTaskShadows: inset -1px -1px 3px #00000022,
    inset -2px -2px 6px #00000020, inset 0 0 30px #00000011,
    2px 2px 12px #00000044, 0 0 50px #00000022;
  --bgNotes: #737585ee;
}

:root .light {
  // --colorRed: #00789c;
  // --colorRedDarkOpaque: #006b9699;
  // --colorRedDark: #0b6c92bb;

  --mainColor: #6a6f7cc4;
  --textColor: #1c1d1fd5;
  --textColorTwo: #1e2027aa;
  --darkText: #6a6e7ed5;
  --bgTopbar: #ececf1ee;
  --hamburgerColor: #b1afbb;
  --hamburgerColorDark: #64626b;
  --colorMidLight: #8d8d8dee;
  --colorGrey: #242833d5;
  --bgGrey: #d9d9ddc4;
  --bgSides: #cbcdd8aa;
  --bgTask: #ebedf3bb;
  --bgTaskEdit: #9aa6afdd;
  --bgTaskDone: #ececf1ee;
  --bgGreyButton: #8f8f9edd;
  --bgNewTask: #dfdfe7cc;
  --bgNewTaskInput: #c6cbd8aa;
  --bgNewTaskInputFocus: #d5d8e2dd;
  --bgNewTaskCover: #caccd6aa;
  --bgImage: url(img/bg_#{$lightNth}.jpg) no-repeat center center fixed;
  --bgMainTask: linear-gradient(
    176deg,
    rgba(190, 0, 41, 0.8) 0%,
    rgba(151, 4, 36, 0.8) 40%,
    rgba(110, 3, 30, 0.8) 100%
  );
  // --bgMainTask: linear-gradient(176deg, #006b9c99 0%, #006b9c99 100%);
  --bgMainTaskInactive: #22242c88;
  --bgMainTaskBtns: #30323bea;
}

ul {
  list-style: none;
  margin: none;
  padding: none;
}

a,
a:hover {
  color: var(--textDark);
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: var(--bgGreyButton);
  box-sizing: border-box;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Montserrat", "Open Sans", Helvetica, Arial, Helvetica,
    sans-serif;
  padding: 1px 6px;
  border: none;
  outline: none;
}
