.side {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50px;
  height: 100vh;
  padding: 12px 12px 36px;
  background: var(--bgSides);
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease;
}

.left-side {
  left: 0;
  width: 28vw;
  min-width: 320px;
  max-width: 440px;
}

.right-side {
  right: 0;
  width: 20vw;
  min-width: 260px;
  max-width: 340px;
}

.side-top {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px;
}

.side-top-h3 {
  position: relative;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--textColor);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.title-drop:hover {
  color: var(--textColor);
  opacity: 1;
  cursor: pointer;
}

.title-drop::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -17px;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-left: transparent 7px solid;
  border-right: transparent 7px solid;
  border-bottom: transparent 7px solid;
  border-top: var(--textColor) 7px solid;
  transform: scaleX(0.8);
  transition: all 0.3s ease-in-out;
  /* border-left: salmon 10px solid;
  border-right: olive 10px solid;
  border-bottom: teal 10px solid;
  border-top: palegoldenrod 10px solid; */
}

.title-drop:hover::after {
  border-top: var(--textColor) 7px solid;
}

.side:hover {
  overflow-y: overlay;
}

.side:hover::-webkit-scrollbar {
  width: 5px;
  background: var(--bgMidLight);
}

.side:hover::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--bgDarker);
  border-radius: 2px;
}

.side:hover::-webkit-scrollbar-thumb:hover {
  width: 5px;
  background: var(--bgEvenDarkest);
}

@media (max-width: 768px) {
  .side {
    position: relative;
    background: initial;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: auto;
    min-width: none;
    max-width: 100%;
    box-shadow: none;
  }

  .title-drop::after {
    border-top: #999 7px solid;
  }
}

@media (max-height: 700px) {
  .side {
    top: 45px;
  }
}
